In [1]:
import pandas as pd

df = pd.read_excel("./data/anon_WMSPick20250101_03.xlsx")

print(df.head())

   Inventory Trans Number  Assc Inventory Trans Number  Task number  \
0               113973204                          NaN     14269689
1               113973205                  113973204.0     14269689
2               113973245                          NaN     14266917
3               113973246                  113973245.0     14266917
4               113973273                          NaN     14269161

   Sequence number             Creation Dt          Last Change Dt  \
0                1 2025-01-01 06:05:45.887 2025-01-01 06:05:45.887
1                1 2025-01-01 06:05:45.893 2025-01-01 06:05:45.910
2                1 2025-01-01 06:06:16.370 2025-01-01 06:06:16.370
3                1 2025-01-01 06:06:16.387 2025-01-01 06:06:16.397
4                1 2025-01-01 06:06:37.050 2025-01-01 06:06:37.050

   Requester user code    Out in Location code Parent container code  \
0                    0  Outgoing         VJ45D                 99300
1                    0  Incoming       VAK11E4               VAK11E4
2                    0  Outgoing         VK17B                 82440
3                    0  Incoming       VAK11C3               VAK11C3
4                    0  Outgoing         VM20D                 25067

   Item code  Stock Product Id Handling unit code  Inventory Qty  \
0      25769          144759.0                 ST              1
1      25769          144759.0                 ST              1
2        933          461357.0                 ST              1
3        933          461357.0                 ST              1
4       7378          592521.0                 ST              1

   Reference Trans Number  Outbound order number  Outbound Order Line Number  \
0                     NaN              1172700.0                         2.0
1                     NaN              1172700.0                         2.0
2                     NaN              1172401.0                         6.0
3                     NaN              1172401.0                         6.0
4                     NaN              1172620.0                         2.0

   Task list number  Picklist number  Picklist line number
0          193893.0          2126751                     1
1          193893.0          2126751                     1
2          193893.0          2126162                     6
3          193893.0          2126162                     6
4          193893.0          2126570                     2